* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh; }

.visibilityNone {
  display: none; }

.section-login {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364); }

.section-site {
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  position: relative; }

.flexcontainer {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around; }

.leftSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%; }

.rightSide {
  display: flex;
  height: 100%;
  width: 40%;
  flex-direction: column; }

.taskDone {
  text-decoration: line-through;
  opacity: 0.5;
  text-shadow: 0 1px 3px #82c468;
  transition: .1s; }

.fall {
  transform: translateY(5rem) rotateZ(20deg);
  opacity: 0;
  transition: .3s; }

.clickMe {
  font-family: 'Lobster';
  font-size: 7rem;
  outline: none;
  border: none;
  border-radius: 50rem;
  padding: 1rem 5rem;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.clickMe:hover {
  box-shadow: 0 1rem 2rem black;
  transition: .3s; }

.clickMe:active {
  box-shadow: none;
  transition: .1s; }

.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.form {
  width: 30rem;
  height: 40rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: whitesmoke; }
  .form__header {
    display: flex;
    justify-content: space-between;
    height: 20%; }
  .form__heading {
    width: 5rem;
    font-family: 'Lobster';
    font-size: 4rem; }
  .form__btn-close {
    width: 3.6rem;
    height: 3.6rem;
    outline: none;
    background: none;
    border: 1px solid #ff6a00;
    border-radius: 50rem;
    font-size: 3rem;
    cursor: pointer; }
    .form__btn-close:hover {
      box-shadow: 0 1rem 2rem rgba(255, 106, 0, 0.5);
      transition: .2s; }
  .form__body {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .form__inputEmail, .form__inputPassword {
    padding: .8rem;
    border: 1px solid #3a3a94;
    border-radius: 50rem;
    background-color: transparent;
    color: #3a3a94; }
  .form__inputEmail::placeholder, .form__inputPassword::placeholder {
    color: #3a3a94;
    padding-left: 2rem; }
  .form__inputEmail:hover, .form__inputPassword:hover, .form__inputEmail:focus, .form__inputPassword:focus {
    outline: none;
    padding-left: 2rem;
    box-shadow: 0rem 0.6rem 1.5rem rgba(255, 106, 0, 0.7);
    transition: .2s; }
  .form__align-this {
    display: flex;
    align-items: center; }
  .form__terms {
    margin-right: 1rem; }
  .form__label {
    width: 17rem;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #727272; }
  .form__btn-submit {
    background-color: transparent;
    outline: none;
    border: 1px solid #3a3a94;
    border-radius: 50rem;
    color: #3a3a94;
    padding: .8rem; }
  .form__btn-submit:hover {
    box-shadow: 0rem 0.6rem 1.5rem rgba(255, 106, 0, 0.7);
    transition: .2s;
    cursor: pointer; }
  .form__btn-submit:active {
    box-shadow: none;
    transition: .2s;
    cursor: pointer; }

.todoBox {
  margin-top: 5rem;
  height: 15rem;
  border: .5rem solid #0C3B2E;
  border-radius: 1.5rem;
  background-color: #FFE7D0;
  display: flex;
  width: 100%; }

.todoForma {
  padding: 2rem; }
  .todoForma__search {
    display: inline-block;
    margin-right: 2rem;
    width: 70%;
    padding: .5rem;
    background-color: #afafaffd;
    outline: none;
    border: 1px solid #1B1B1B;
    border-radius: 50rem;
    font-size: 1.4rem;
    color: #1B1B1B; }
    .todoForma__search::placeholder {
      padding-left: 2rem;
      color: #1B1B1B; }
    .todoForma__search:focus {
      padding-left: 2rem;
      color: #1B1B1B;
      box-shadow: 0rem 0.6rem 1.5rem rgba(27, 27, 27, 0.7);
      transition: .2s; }
  .todoForma__labelInputTask {
    display: inline-block;
    padding: .5rem;
    font-size: 2rem;
    font-family: 'Sans-sarif';
    font-weight: 100;
    color: #323232;
    margin-right: 1rem;
    margin-bottom: 1.5rem; }
  .todoForma__inputTask {
    display: inline-block;
    padding: .5rem;
    font-size: 1.6rem;
    width: 54%;
    background-color: #afafaffd;
    border: 1px solid #1B1B1B;
    border-radius: 50rem;
    outline: none;
    margin-right: 2rem; }
    .todoForma__inputTask::placeholder {
      padding-left: 2rem;
      color: #1B1B1B; }
    .todoForma__inputTask:focus {
      padding-left: 2rem;
      color: #1B1B1B;
      outline: none;
      box-shadow: 0rem 0.6rem 1.5rem rgba(27, 27, 27, 0.7);
      transition: .2s; }
  .todoForma__select {
    display: inline-block;
    padding: .5rem;
    background-color: #afafaffd;
    outline: none;
    border: 1px solid #1B1B1B;
    border-radius: 50rem;
    font-size: 1.4rem;
    color: #1B1B1B; }
  .todoForma__selectItem {
    padding: .5rem;
    background-color: #afafaffd;
    font-size: 1.4rem;
    color: #1B1B1B; }
  .todoForma__selectItem:hover {
    background-color: #8b8b8bfd; }
  .todoForma__btnTodoAdd {
    display: inline-block;
    color: #2E8B57;
    font-size: 2.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer; }
    .todoForma__btnTodoAdd:hover {
      transform: scale(1.4);
      transition: .3s; }
    .todoForma__btnTodoAdd:active {
      transform: scale(1);
      transition: .1s; }

.newTasks {
  padding: 1rem;
  display: inline-block;
  width: 70%; }

.task {
  padding: 2rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  border: .2rem solid #0C3B2E;
  border-radius: 1.5rem;
  background-color: #FFE7D0; }
  .task:hover {
    background-color: #f8d3b0; }

.taskText {
  display: inline-block;
  padding: .5rem;
  font-size: 1.8rem;
  color: #1B1B1B; }

.btnDone {
  color: #2E8B57;
  padding: .5rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  float: right;
  cursor: pointer; }
  .btnDone:hover {
    transform: scale(1.4);
    transition: .3s; }
  .btnDone:active {
    transform: scale(1);
    transition: .1s; }

.btnRemove {
  color: #B22222;
  padding: .5rem;
  font-size: 2rem;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  float: right;
  cursor: pointer; }
  .btnRemove:hover {
    transform: scale(1.3);
    transition: .3s; }
  .btnRemove:active {
    transform: scale(1);
    transition: .1s; }

.gallery {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: relative; }
  .gallery__item {
    width: 100%;
    height: 90%;
    border-radius: 1rem; }
  .gallery__heading {
    font-size: 3rem;
    color: #FFE7D0;
    font-family: 'Lobster'; }
  .gallery__btnGalleryPrev {
    display: flex;
    font-size: 5rem;
    color: whitesmoke;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 2%;
    opacity: .3; }
    .gallery__btnGalleryPrev:hover {
      transform: scale(1.4);
      transition: .3s;
      opacity: 1; }
    .gallery__btnGalleryPrev:active {
      transform: scale(1);
      transition: .1s; }
  .gallery__btnGalleryNext {
    display: flex;
    font-size: 5rem;
    color: whitesmoke;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    opacity: .3; }
    .gallery__btnGalleryNext:hover {
      transform: scale(1.4);
      transition: .3s;
      opacity: 1; }
    .gallery__btnGalleryNext:active {
      transform: scale(1);
      transition: .1s; }

.vote {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative; }
  .vote .totalLikes {
    font-size: 2rem;
    color: whitesmoke; }
  .vote > *:not(:first-child) {
    font-size: 4rem;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer; }
    .vote > *:not(:first-child):hover {
      transform: scale(1.4);
      transition: .3s; }
    .vote > *:not(:first-child):active {
      transform: scale(1);
      transition: .1s; }
  .vote__btnVoteLike {
    color: #1f418b; }
  .vote__btnVoteBest {
    color: #ffe670; }
  .vote__btnVoteDisslike {
    color: #fd7962; }
